---
interface Props {
    listName: string;
    tagName: string;
}

const { listName, tagName } = Astro.props;
---

<label for={`${listName}-filter-${tagName}`} title={`filter by tag: ${tagName}`}><slot /></label>
