---
import { getFilterableTag } from '../../lib/filterableHelper';

interface Props {
    listName: string;
    tags: string[];
}

const { listName, tags } = Astro.props;
---

<li class:list={[getFilterableTag(listName), tags.map((t) => getFilterableTag(listName, t))]}><slot /></li>
