---
import Email from "../components/junicode-snippets/email.astro";
import Ticker from "../components/ticker.astro";
import JunicodeLoader from "../components/head/junicode-loader.astro";
import BaseMetadata from "../components/head/base-metadata.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import LinkCloud from "../components/link-cloud.astro";
import RadioFilters from "../components/filterable/radio-filters.astro";
import FilterableListItem from "../components/filterable/filterable-list-item.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseMetadata />
		<JunicodeLoader />
		<PageMetadata
			title="Duncan Petrie’s Website"
			desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
		/>
	</head>
	<body>
		<Ticker />
		<main>
			<header>
				<h1>
					<span class="ligatures">Duncan Petrie</span><sup
						class="aalt">*</sup
					>
				</h1>
				<p>
					(<abbr
						title="hey! put your grubby little cursor somewhere else"
						>that’s me</abbr
					>!) is a London-based photographer, writer, and web
					developer from Milwaukee, Wisconsin.
				</p>
				<p>This is my website.</p>
				<p>---</p>
				<p>
					New here? Take a look at my <a href="/palimpsest"
						>photography</a
					>
					<br />or read a recent <a href="/wind">story</a>.
				</p>
				<p>
					You can sign my <a href="https://guestbook.duncanpetrie.com"
						>guestbook</a
					>, explore my <a href="https://duncans.world">world</a>, or
					have a cheese sandwich in my <a href="https://duncans.cafe"
						>cafe</a
					>.
				</p>
				<p>
					Or, if you're already sick of this place, you can find links
					to some other websites <a href="/weblinks">right here</a>.
				</p>
				<p>
					Email me at <a href="mailto:duncanpetrie1@gmail.com"
						><Email at="@" /></a
					>.
				</p>
				<p>---</p>
			</header>
			<RadioFilters
				tags={[
					"best",
					"photobooks",
					"stories",
					"photography",
					"thoughts",
					"lyric-and-verse",
				]}
				listName="work"
				showAll="first"
				defaultTag="best"
			/>
			<ul>
				<FilterableListItem tags={["best", "photobooks"]} listName="work">
					<p>I made a photobook.</p>
				</FilterableListItem>
				<FilterableListItem tags={["best", "stories"]} listName="work">
					<p>And I wrote a story.</p>
				</FilterableListItem>
			</ul>
			<ul>
				<li>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Aut rerum enim natus in magnam minus delectus, ipsam
						fugit et. Corporis doloribus ut quibusdam maiores
						quaerat eos ea ipsa dolorem sequi! Aut rerum enim natus
						in magnam minus delectus, ipsam fugit et.
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
				</li>
				<li>
					<p>
						Aut rerum enim natus in magnam minus delectus, ipsam
						fugit et. Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Aut rerum enim natus in magnam minus
						delectus, ipsam fugit et. Corporis doloribus ut
						quibusdam maiores quaerat eos ea ipsa dolorem sequi!
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Aut rerum enim natus in magnam minus delectus, ipsam
						fugit et. Corporis doloribus ut quibusdam maiores
						quaerat eos ea ipsa dolorem sequi!
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
				</li>
				<li>
					<p>
						Aut rerum enim natus in magnam minus delectus, ipsam
						fugit et.
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Aut rerum enim natus in magnam minus delectus, ipsam
						fugit et. Corporis doloribus ut quibusdam maiores
						quaerat eos ea ipsa dolorem sequi!
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Aut rerum enim natus in magnam minus delectus, ipsam
						fugit et. Corporis doloribus ut quibusdam maiores
						quaerat eos ea ipsa dolorem sequi!
					</p>
				</li>
				<li>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
					</p>
				</li>
			</ul>
		</main>
		<aside>
			<LinkCloud />
		</aside>
		<!-- <BottomNav /> -->
	</body>
</html>

<style>
	body {
		margin: 0;
		font-family: Junicode, "Times New Roman", serif;
		display: flex;
		justify-content: center;
	}

	main {
		position: relative;
		margin: 2rem 0 2rem 2rem;
		width: min(55ch, 100%);
		z-index: 10;
		margin-bottom: 50svh;
	}

	header {
		width: min(40ch, 100%);
	}

	ul {
		list-style: none;
		padding: 0;
	}

	a {
		text-decoration-style: dotted;
		text-decoration-thickness: 0.0875em;
		text-underline-offset: 0.125em;
	}

	a:hover {
		text-decoration-style: solid;
	}

	aside {
		flex: 1;
		position: sticky;
		top: 0;
		height: 100svh;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		background-color: white;
	}
</style>
