---
import Email from "../components/junicode-snippets/email.astro";
import Ticker from "../components/ticker.astro";
import JunicodeLoader from "../components/head/junicode-loader.astro";
import BaseMetadata from "../components/head/base-metadata.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import LinkCloud from "../components/link-cloud.astro";
import RadioFilters from "../components/filterable/radio-filters.astro";
import FilterableListItem from "../components/filterable/filterable-list-item.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseMetadata />
		<JunicodeLoader />
		<PageMetadata
			title="Duncan Petrie’s Website"
			desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
		/>
	</head>
	<body>
		<Ticker />
		<main>
			<header>
				<h1>
					<span class="ligatures">Duncan Petrie</span><sup
						class="aalt" title="You're a star!" style="cursor: default; user-select: none;">*</sup
					>
				</h1>
				<p>
					(<abbr
						title="hey! put your grubby little cursor somewhere else"
						>that’s me</abbr
					>!) is a London-based photographer, writer, and web
					developer from Milwaukee, Wisconsin.
				</p>
				<p>This is my website.</p>
				<p>---</p>
				<p>
					New here? Take a look at my <a href="/palimpsest"
						>photography</a
					>
					<br />or read a recent <a href="/wind">story</a>.
				</p>
				<p>
					You can sign my <a href="https://guestbook.duncanpetrie.com"
						>guestbook</a
					>, explore my <a href="https://duncans.world">world</a>, or
					have a cheese sandwich in my <a href="https://duncans.cafe"
						>cafe</a
					>.
				</p>
				<p>
					Or, if you're already sick of this place, you can find links
					to some other websites <a href="/weblinks">right here</a>.
				</p>
				<p>
					Email me at <a href="mailto:duncanpetrie1@gmail.com"
						><Email at="@" /></a
					>.
				</p>
				<p>---</p>
			</header>
			<RadioFilters
				tags={[
					"best",
					"photobooks",
					"stories",
					"photography",
					"thoughts",
					"lyric-and-verse",
				]}
				listName="work"
				showAll="first"
				defaultTag="best"
			/>
			<ul>
				<FilterableListItem
					tags={["best", "photobooks"]}
					listName="work"
				>
					<div class="link-wrapper">
						<div class="link-top">
							<span class="link-date">
								August, 2024 &nbsp;&nbsp;|&nbsp;&nbsp;
							</span>
							<span class="link-tags">#photobooks, #best</span>
						</div>
						<div class="link-bottom">
							<a href="/pigeons">To Pigeon-Fill the Sky</a> is a book
							about AI, the creative process, and, of course, pigeons.
						</div>
					</div>
				</FilterableListItem>
				<FilterableListItem tags={["best", "stories"]} listName="work">
					<div class="link-wrapper">
						<div class="link-top">
							<span class="link-date">
								September, 2024 &nbsp;&nbsp;|&nbsp;&nbsp;
							</span>
							<span class="link-tags">#best, #stories</span>
						</div>
						<div class="link-bottom">
							In September, I wrote <a href="/wind"
								>A List of the Wind</a
							>, a story about getting up and doing, finally, what
							needs to be done.
						</div>
					</div>
				</FilterableListItem>
				<FilterableListItem tags={["lyric-and-verse"]} listName="work">
					<div class="link-wrapper">
						<div class="link-top">
							<span class="link-date">
								April, 2025 &nbsp;&nbsp;|&nbsp;&nbsp;
							</span>
							<span class="link-tags">#lyric-and-verse</span>
						</div>
						<div class="link-bottom">
							I started writing this <a href="/scrumptious"
								>song about dinner</a
							> in the shower, and finished it when I should have been
							falling asleep.
						</div>
					</div>
				</FilterableListItem>
				<FilterableListItem tags={["lyric-and-verse"]} listName="work">
					<div class="link-wrapper">
						<div class="link-top">
							<span class="link-date">
								April, 2025 &nbsp;&nbsp;|&nbsp;&nbsp;
							</span>
							<span class="link-tags">#lyric-and-verse</span>
						</div>
						<div class="link-bottom">
							I saw a <a href="/scrumptious">rat today</a>, oh
							boy! I wrote this parody of "A Day in the Life" in a
							cafe in Falmouth, after seeing, yes indeed, a rat.
						</div>
					</div>
				</FilterableListItem>
				<FilterableListItem tags={["photography"]} listName="work">
					<div class="link-wrapper">
						<div class="link-top">
							<span class="link-date">
								January, 2025 &nbsp;&nbsp;|&nbsp;&nbsp;
							</span>
							<span class="link-tags">#photography</span>
						</div>
						<div class="link-bottom">
							In January, I learned to <a
								href="https://bsky.social/...">screenprint</a
							> my photography. Here are some photos of that.
						</div>
					</div>
				</FilterableListItem>
				<FilterableListItem tags={["code", "design"]} listName="work">
					<div class="link-wrapper">
						<div class="link-top">
							<span class="link-date">
								January, 2025 &nbsp;&nbsp;|&nbsp;&nbsp;
							</span>
							<span class="link-tags">#code, #design</span>
						</div>
						<div class="link-bottom">
							After reading Don Quixote, I created a <a
								href="/sancho">Sancho Simulator</a
							>: all the squire's proverbs, randomized,
							tantalized, run-round and riled up.
						</div>
					</div>
				</FilterableListItem>
				<FilterableListItem tags={["lyric-and-verse"]} listName="work">
					<div class="link-wrapper">
						<div class="link-top">
							<span class="link-date">
								May, 2025 &nbsp;&nbsp;|&nbsp;&nbsp;
							</span>
							<span class="link-tags">#lyric-and-verse</span>
						</div>
						<div class="link-bottom">
							I got a <a href="apocalypse-raise"
								>raise in the apocalypse</a
							>, and I am feeling fine!
						</div>
					</div>
				</FilterableListItem>
			</ul>
		</main>
		<aside>
			<LinkCloud />
		</aside>
		<!-- <BottomNav /> -->
	</body>
</html>

<style>
	body {
		margin: 0;
		font-family: Junicode, "Times New Roman", serif;
		display: flex;
		justify-content: center;
	}

	main {
		position: relative;
		margin: 2rem 0 2rem 2rem;
		width: min(55ch, 100%);
		z-index: 10;
		margin-bottom: 50svh;
	}

	header {
		width: min(40ch, 100%);
	}

	ul {
		list-style: none;
		padding: 1em 1em 0 0;
		margin: 2em 0 0;
		border-top: 2px solid #0001;
	}

	a {
		text-decoration-style: dotted;
		text-decoration-thickness: 0.0875em;
		text-underline-offset: 0.125em;
	}

	a:hover {
		text-decoration-style: solid;
	}

	.link-wrapper {
		margin-bottom: 1em;
	}

	.link-top {
		display: flex;
		align-items: center;
		margin-bottom: 0.125rem;
	}

	.link-date {
		color: #222;
		font-piant-numeric: lining-nums;
		font-variation-settings:
			"wght" 500,
			"wdth" 80,
			"ENLA" 0;
		font-size: 0.8em;
	}

	.link-tags {
		color: #444;
		font-weight: 300;
		font-size: 0.8em;
	}

	.link-bottom {
		font-size: 1em;
		line-height: 1.4;
		color: #444;
	}

	aside {
		flex: 1;
		position: sticky;
		top: 0;
		height: 100svh;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		background-color: white;
	}
</style>
