---
import BaseMetadata from "../components/head/base-metadata.astro";
import JunicodeLoader from "../components/head/junicode-loader.astro";
import PageMetadata from "../components/head/page-metadata.astro";
import Ticker from "../components/ticker.astro";
import TryCheckbox from "../components/try-checkbox.astro";
import TryRadio from "../components/try-radio.astro";
---

<!doctype html>
<html>
    <head>
        <BaseMetadata />
        <JunicodeLoader />
        <PageMetadata
            title="Duncan Petrie’s Website"
            desc="Yes, that’s right! This is his website! He is a London-based photographer, writer, and web developer from Milwaukee, Wisconsin. Come inside. Take off your coat. Stay a while."
        />
    </head>
    <body>
        <Ticker />
        <main>
            <h1>Hey! It's me!</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <TryRadio />
            <!-- <TryCheckbox /> -->
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <h2>More? Jeez louise</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi,
                cupiditate harum eligendi quaerat eaque assumenda rerum tempora
                suscipit. Sequi maxime natus cum quae sit maiores libero
                voluptatem porro amet. Voluptate.
            </p>
        </main>
        <aside>
            <figure>
                <img src="cover.webp" />
            </figure>
        </aside>
    </body><style>
        body {
            display: flex;
        }

        main {
            width: 50ch;
            margin: 2rem 0 2rem 2rem;
        }

        aside {
            flex: 1;
            position: sticky;
            top: 0;
            height: 100svh;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        figure {
            width: 600px;
            border: 3px solid #fafaff;
        }
    </style>
</html>
