---
import FooterScrollTo from "./footer-scroll-to.astro";
import SuperscriptHover from "./superscript-hover.astro";

interface Props {
    addScrollTo?: boolean;
}

const { addScrollTo = false } = Astro.props;
---

{addScrollTo && <FooterScrollTo />}
<footer id="footer">
    <span class="dpw-banner ligatures">Duncan Petrie’s Website</span>
    <span class="dpw-banner ligatures">Duncan Petrie’s Website</span>
    <div>
        <SuperscriptHover icon="*" supClass="aalt" href="/"
            >INDEX</SuperscriptHover
        >
        <SuperscriptHover icon="ᛥ" href="/colophon">COLOPHON</SuperscriptHover>
        <SuperscriptHover icon="⸙" href="https://duncans.cafe"
            >CAFE</SuperscriptHover
        >
        <SuperscriptHover icon="∆" href="/photography">GALLERY</SuperscriptHover
        >
        <SuperscriptHover icon="" href="/photography"
            >GIFT SHOP</SuperscriptHover
        >
        <SuperscriptHover icon="" href="/guestbook">GUESTBOOK</SuperscriptHover
        >
        <SuperscriptHover icon="Ϡ" href="https://duncans.world"
            >WORLD</SuperscriptHover
        >
        <SuperscriptHover icon="ↂ" href="/weblinks">WEBLINKS</SuperscriptHover>
        <SuperscriptHover icon="⃝" href="https://instagram.com/probablyduncan"
            >SITEMAP</SuperscriptHover
        >
        <SuperscriptHover icon="†" href="https://instagram.com/probablyduncan"
            >SOCIAL</SuperscriptHover
        >
    </div>
</footer>
<style>
    footer {
        width: 100%;
        height: 100dvh;
        background-color: var(--color-primary);
        position: relative;
        z-index: 100;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-top: 12px double var(--color-bg);
        box-shadow: 0 0 100px var(--color-bg);
    }

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    span.dpw-banner {
        position: absolute;
        left: -0.42em;
        line-height: 0.5;
        font-size: 12vw;
        text-wrap: nowrap;
        color: var(--color-bg);
        font-variation-settings:
            "ENLA" 30,
            "wdth" 80;
        user-select: none;
        -webkit-user-select: none;
        cursor: default;
    }

    span.dpw-banner:first-of-type {
        top: -0.25em;
    }

    span.dpw-banner:last-of-type {
        bottom: -0.25em;
    }

    div :global(a) {
        color: white;
        font-size: 1.25em;
        filter: grayscale();
    }
</style>
