---
interface Props {
    includeTopButton?: boolean;
}

const { includeTopButton } = Astro.props;

const arrows = "⇣👣";
---

<nav class="to-footer">
    <a href="#footer" title="more information">more info </a>
    {arrows[0]}
</nav>
{includeTopButton && <nav class="to-top">
    ⇡ <a href="#" title="back! to the top">top</a>
</nav>}
<style>
    .to-footer,
    .to-top {
        position: fixed;
        font-size: 0.8em;
        bottom: 0.6em;
        right: 1em;
        z-index: 10;

        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;

        @media (width < 512px) {
            display: none;
        }

        a {
            text-decoration: unset;
            color: var(--color-text-lighter);
            display: inline-block;

            pointer-events: all;
            cursor: default;

            font-variation-settings:
                "wdth" 100,
                "ENLA" 0;

            padding: 0 0 0.1em;
            transition:
                font-variation-settings 0.333333333s steps(4),
                color 0.333333333s steps(4),
                padding 0.333333333s steps(4);
        }

        a:hover,
        a:focus-visible {
            padding: 0.1em 0 0;
            color: var(--color-primary);
            font-variation-settings:
                "wdth" 75,
                "ENLA" 45;

            outline: none;
        }

        a:focus-visible {
            transition: none;
        }

        &:has(a:focus-visible) {
            outline: 2px solid var(--color-primary);
            outline-offset: 2px;
            border-radius: 4px;
        }
    }

    .to-top {
        left: 1em;
        right: unset;

        a:hover,
        a:focus-visible {
            padding: 0 0 0.1em;
        }
    }
</style>
