---
import SuperscriptHover from "./superscript-hover.astro";


---
<nav>
    <SuperscriptHover icon="*" supClass="aalt" bigSup={true} href="/">INDEX</SuperscriptHover>
    <SuperscriptHover icon="⸙" target="_blank" href="https://duncans.cafe">INTERNET CAFE</SuperscriptHover>
    <SuperscriptHover icon="∆" href="/photography">GALLERY</SuperscriptHover>
    <SuperscriptHover icon="" target="_blank" href="https://shop.duncanpetrie.com">GIFT SHOP</SuperscriptHover>
    <SuperscriptHover icon="" href="/guestbook">GUESTBOOK</SuperscriptHover>
    <SuperscriptHover icon="Ϡ" target="_blank" href="https://duncans.world">WORLD</SuperscriptHover>
    <SuperscriptHover icon="ↂ" href="/weblinks">WEBLINKS</SuperscriptHover>
    <SuperscriptHover icon="†" target="_blank" href="https://instagram.com/probablyduncan">SOCIAL</SuperscriptHover>
</nav>
<style>
    nav {
        container: link-cloud / inline-size;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @container link-cloud (max-width: 800px) {
        nav {
            background-color: green;
        }
    }
</style>