<div></div>
<style>
    div {
        /* noise modified from stiff.madebybuzzworthy.com */
        display: block;
        position: fixed;
        z-index: 999;
        opacity: 0.833333;

        top: -20vh;
        left: -20vw;
        width: 140vw;
        height: 140vh;

        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;

        background: url("/noise.png");
        
        animation: infinite noise 8.33333s steps(5);
        -moz-animation: infinite noise 8.33333s steps(5);
        -webkit-animation: infinite noise 8.33333s steps(5);
        -o-animation: infinite noise 8.33333s steps(5);
    }

    @keyframes noise {
        0% {
            transform: translate(-20vw, 20vh);
        }

        10% {
            transform: translate(12vw, 16vh);
        }

        20% {
            transform: translate(-8vw, -12vh);
        }

        30% {
            transform: translate(8vw, 20vh);
        }

        40% {
            transform: translate(-9vw, 6vh);
        }

        50% {
            transform: translate(-20vw, -16vh);
        }

        60% {
            transform: translate(13vw, 15vh);
        }

        70% {
            transform: translate(-16vw, -20vh);
        }

        80% {
            transform: translate(18vw, 12vh);
        }

        90% {
            transform: translate(-8vw, -12vh);
        }

        100% {
            transform: translate(16vw, 14vh);
        }
    }
</style>
