---
import { shuffleRef } from "@probablyduncan/common/shuffle";
import { getCollection } from "astro:content";
import { resolveLink } from "../lib/linkHelper";

const links = await getCollection("ticker");
shuffleRef(links);

const animateSeconds = links.length * 30;
---

<nav
    style={`
--animation-duration: ${animateSeconds}s;
--animation-delay: -${animateSeconds / 2}s;`}
>
    {
        Array.from({ length: 2 }).map(() => (
            <span class="half">
                {links.map(({ data: link }) => {
                    const props = resolveLink({
                        href: link.href,
                        innerHtml: link.text,
                    });
                    return (
                        <a
                            tabindex="-1"
                            {...props}
                            class="item"
                            style={`--rand: ${Math.floor(Math.random() * 10)};`}
                            data-content={link.text}
                        >
                            {link.text}
                        </a>
                    );
                })}
            </span>
        ))
    }
</nav>
<style>
    .item {
        display: inline-block;
        font-size: 1em;
        font-style: italic;
        cursor: pointer;
        pointer-events: auto;

        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        text-decoration: unset;
        color: unset;

        /* between 0 and 9 */
        --rand: 0;
        margin-right: calc(var(--rand) * 0.2em + 5em);
    }

    .item,
    .item::before {
        font-variation-settings:
            "wght" 300,
            "wdth" 100,
            "ENLA" 0;
    }

    .item::before,
    .item::after {
        content: attr(data-content);
        height: 0;
        visibility: hidden;
        overflow: hidden;
        pointer-events: none;
    }

    .item:hover,
    .item::after {
        font-variation-settings:
            "wght" 300,
            "wdth" 80,
            "ENLA" 30;
    }

    .item:hover {
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    .item,
    .item::before,
    .item::after {
        user-select: none;
        -webkit-user-select: none;
    }

    .half {
        position: absolute;
        left: 0;
        top: 0;
        animation: tick var(--animation-duration) linear infinite;
    }

    .half:last-of-type {
        animation-delay: var(--animation-delay);
    }

    nav:has(.item:hover) .half {
        animation-play-state: paused;
    }

    nav {
        z-index: 100;
        pointer-events: none;
        position: fixed;
        display: inline;
        white-space: nowrap;
        top: -30px;
        left: 0px;
        transform: rotate(2deg);
        transform-origin: 0 0;
    }

    @media screen and (width < 512px) {
        nav {
            top: 0;
            transform: rotate(0deg);
        }

        .half {
            background-color: var(--color-bg);
            background-color: rgba(255, 255, 255, 0.8);
            backdrop-filter: blur(20px);
            padding-block: 0.2em;
            border-block: 0.125em double var(--color-text-lighter);
        }

        .item {
            margin-right: 1.2em;
        }
    }

    @keyframes tick {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(100%);
        }
    }
</style>
