@font-face {
    font-family: Junicode;
    font-style: normal;
    font-weight: 300, 700;
    font-display: swap;
    src: url("/JunicodeVF-Roman.ttf");
}

@font-face {
    font-family: Junicode;
    font-style: italic;
    font-weight: 300, 700;
    font-display: swap;
    src: url("/JunicodeVF-Italic.ttf");
}

body {
    font-family: Junicode, "Times New Roman", serif;

    --font-size-base: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    font-size: var(--font-size-base);

    --padding: clamp(1rem, 4vw, 2rem);

    --color-primary: #0000EE;
    --color-secondary: #551A8B;
}

h1,
h2,
h3 {
    font-weight: 500;
}

.ligatures {
    font-variant-ligatures: discretionary-ligatures;
}

.frac {
    font-variant-numeric: diagonal-fractions;
}

.aalt {
    font-feature-settings: "aalt";
}

.small-caps {
    font-variant-caps: petite-caps;
    font-size: 1.1em;
    line-height: 1;
}

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* :root {
  --font-size-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --font-size-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
  --font-size-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
  --font-size-3: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
  --font-size-4: clamp(2.0736rem, 1.7334rem + 1.7011vw, 3.0518rem);
  --font-size-5: clamp(2.4883rem, 2.027rem + 2.3067vw, 3.8147rem);
  font-size: var(--font-size-0);
} */
