@font-face {
    font-family: Junicode;
    font-style: normal;
    font-weight: 300, 700;
    font-display: swap;
    src: url("/JunicodeVF-Roman.ttf");
}

@font-face {
    font-family: Junicode;
    font-style: italic;
    font-weight: 300, 700;
    font-display: swap;
    src: url("/JunicodeVF-Italic.ttf");
}

:root {
    scroll-behavior: smooth;
    /* color-scheme: light dark; */
}

body {
    font-family: Junicode, "Times New Roman", serif;

    --font-size-base: clamp(1.125rem, 0.913rem + 0.4348vw, 1.25rem);
    font-size: var(--font-size-base);

    --padding: clamp(1rem, 4vw, 2rem);

    --color-text: light-dark(black, white);
    --color-bg: light-dark(white, black);

    --color-primary: light-dark(#00e, #8ae9ff);
    --color-secondary: light-dark(#551a8b, #e9c0ff);

    --color-text-light: light-dark(#222, #eee);
    --color-text-lighter: light-dark(#444, #ddd);

    --color-bg-dark: light-dark(#eee, #222);
    --color-bg-darker: light-dark(#ddd, #444);

    color: var(--color-text);
    background: var(--color-bg);
}

::selection {
    background-color: #fff8ac;
}

h1,
h2,
h3 {
    font-weight: 500;
}

p {
    margin-block: 0.8em;
}

.a {
    text-decoration-style: dotted;
    text-decoration-thickness: 0.0875em;
    text-underline-offset: 0.125em;
    color: var(--color-primary);
}

.a:visited {
    color: var(--color-secondary);
}

.a:hover {
    text-decoration-style: solid;
}

.a:focus-visible,
.a:focus,
.a:focus-within {
    outline: 2px solid currentColor;
    outline-offset: 2px;
    border-radius: 4px;
}

.ligatures {
    font-variant-ligatures: discretionary-ligatures;
}

.frac {
    font-variant-numeric: diagonal-fractions;
}

.aalt {
    font-feature-settings: "aalt";
}

.small-caps {
    font-variant-caps: petite-caps;
    font-size: 1.1em;
    line-height: 1;
}

code {
    font-family: monospace;
    font-size: 0.75em;

    display: inline-block;
    background-color: var(--color-bg-dark);
    color: var(--color-text-light);
    border-radius: 0.25em;
    padding: 0 0.25em;
}

.a code {
    text-decoration: inherit;
    text-decoration-style: inherit;
    text-decoration-thickness: inherit;
    text-underline-offset: inherit;
    padding-bottom: 0.125em;
    margin-bottom: -0.125em;
}

.px {
    image-rendering: pixelated;
}
