:root {
    overscroll-behavior: none;
}

body {
    margin: unset;
}

input, button {
    font-size: unset;
    font-family: unset;
    padding: unset;
    border: unset;
    background-color: unset;
}

img {
    display: block;
    width: 100%;
}